@model LCLFileUpload.Models.ListOfUploadedFilesErrors
@{
    Layout = null;
}

@{
    ViewBag.Title = "Invalid Uploaded Files";
}

<h3>Invalid Uploaded Files</h3>
<hr style="color:#c00;background-color:#c00;height:1px;border:none;" />
<table>
    <tr>
    @foreach (System.Data.DataColumn Col in Model.ErrorList.Columns)
        {
            <th>
                    @if (@Col.ColumnName != "Select")
                    {
                        <h7>@Col.ColumnName </h7>}
                    else {}
            </th>
            <td>
            </td>
    }
    </tr>
    <tbody>
    @foreach (System.Data.DataRow Row in Model.ErrorList.Rows)
    {
        <tr>
            @for (int i = 0; i <= Model.ErrorList.Columns.Count - 1; i++)
            {
                  <td>
                    @if (Model.ErrorList.Columns[i].ColumnName != "Select")
                    {
                        <h6>@Row[i].ToString()</h6>
                    }
                        </td>
                <td></td>
            }
        </tr>
    }
    </tbody>
</table>

