<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://remoteprod.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>remoteprod.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>remoteprod</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$remoteprod</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LCLFileUpload.Models.UsersContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LCLFileUpload.Models.UsersContext, LCLFileUpload" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LCLFileUpload.Models.WEBWISDOMEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LCLFileUpload.Models.WEBWISDOMEntities, LCLFileUpload" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WEBWISDOMConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:poonirental.database.windows.net,1433;Initial Catalog=WEBWISDOM;Persist Security Info=False;User ID=lclremote;Password=Sn@@p1ng;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WEBWISDOMConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:poonirental.database.windows.net,1433;Initial Catalog=WEBWISDOM;Persist Security Info=False;User ID=lclremote;Password=Sn@@p1ng;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=poonirental.database.windows.net;Initial Catalog=WEBWISDOM;Persist Security Info=True;User ID=wisdomuser;Password=W!sdomrules;Application Name=EntityFramework" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=poonirental.database.windows.net,1433;Initial Catalog=WEBWISDOM;Persist Security Info=True;User ID=lclremote;Password=Sn@@p1ng;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.WebWisdom.csdl|res://*/Models.WebWisdom.ssdl|res://*/Models.WebWisdom.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=poonirental.database.windows.net,1433;initial catalog=WEBWISDOM;persist security info=True;user id=lclremote;password=Sn@@p1ng;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.WebWisdom.csdl|res://*/Models.WebWisdom.ssdl|res://*/Models.WebWisdom.msl;provider=System.Data.SqlClient;provider connection string="data source=poonirental.database.windows.net;initial catalog=WEBWISDOM;persist security info=True;user id=wisdomuser;password=W!sdomrules;application name=EntityFramework;MultipleActiveResultSets=True"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LCLFileUpload.Models.UsersContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LCLFileUpload.Models.WEBWISDOMEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WEBWISDOMConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="LCLFileUpload.Models.UsersContext" />
  </ItemGroup>
</Project>