@{
    ViewBag.Title = "Contact Info";
}

<hgroup class="title">
    <h3>@ViewBag.Title.</h3>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <h6><span class="label">Central Ontario, Western Canada (Karen McCutcheon) :</span>
        <span>905-751-8803</span></h6>
        <h6><span class="label">Eastern Ontario, Quebec and Atlantic locations (Tiina Oim):</span>
        <span>819-578-4250</span></h6>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <h6><span class="label">Central Ontario, Western Canada (Karen McCutcheon) :</span></h6>
        <span><a href="mailto:KMcCutcheon@wis.ca"><h7>KMcCutcheon@wis.ca</a></span></h7>
        <h6><span class="label">Eastern Ontario, Quebec and Atlantic locations (Tiina Oim):</span></h6>
        <span><a href="mailto:TOim@wisintl.com"><h7>TOim@wisintl.com</a></span></h7>
    </p>
</section>

